.list-cell:selected > .my-gridpane{
    -fx-background-color: #000000;
}

AnchorPane{
     -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: red;
    -fx-animated: true;
    -fx-background-radius: 1px;
    -fx-border-style: hidden;
    -fx-padding: 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10,0 , 1, 0);
}
